@page "/profile"
@using static MudBlazor.CategoryTypes

<MudGrid Justify="Justify.Center" Class="mud-width-full" Spacing="0">
    <MudItem xs="12" md="8">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-width-full pt-6 pb-4 rounded-b-xl">
            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
                @* TODO: Make badge clickable and hoverable *@
                <MudPaper Class="d-flex justify-center align-content-center rounded-lg" Elevation="0">
                    <MudAvatar Style="@($"height:{ImageSize}px; width:{ImageSize}px;")" Elevation="4">
                        <MudImage ObjectFit="ObjectFit.ScaleDown" Src="images/dogprofile.png" Fluid="true"/>
                    </MudAvatar>
                    <button class="mud-button-root d-flex align-start"> @* Class="z-90" Size="Size.Small" Color="Color.Transparent" Variant="Variant.Text" Ripple="true" DropShadow="true"*@
                        <MudBadge Icon="@Icons.Material.Filled.Edit" Class="mt-2" Color="Color.Info" Overlap="true" Bordered="true" Origin="Origin.TopRight" />
                    </button>
                </MudPaper>
                <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                    <MudIcon Icon="@GoogleSvgIcon" Title="Logged in with google" Size="Size.Small"/>
                    <MudDivider Vertical="true" FlexItem="true" />
                    <MudText Typo="Typo.body2">Doge Dogesen</MudText>
                </MudStack>
                <MudDivider DividerType="DividerType.FullWidth" />
                <MudGrid Justify="Justify.Center" Spacing="10" Class="py-2">
                    <MudItem>
                        <MudPaper Height="20px" Class="d-flex flex-column align-center justify-center mud-width-full" Elevation="0">
                            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" Size="Size.Small" />
                            <MudText Typo="Typo.caption" Align="Align.Center">108</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem>
                        <MudPaper Height="20px" Class="d-flex flex-column align-center justify-center mud-width-full" Elevation="0">
                            <MudIconButton Icon="@Icons.Material.Filled.AddPhotoAlternate" Color="Color.Info" Size="Size.Small" />
                            <MudText Typo="Typo.caption" Align="Align.Center">12</MudText>
                        </MudPaper>
                    </MudItem>
                    <MudItem>
                        <MudPaper Height="20px" Class="d-flex flex-column align-center justify-center mud-width-full" Elevation="0">
                            <MudIconButton Icon="@Icons.Material.Filled.CalendarMonth" Color="Color.Tertiary" Size="Size.Small" />
                            <MudText Typo="Typo.caption" Align="Align.Center">1234</MudText>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudStack>
        </MudPaper>
    </MudItem>
</MudGrid>
@* <MudAppBar Fixed="false" Class="footer-sticky" Elevation="1">
   This is footer too
</MudAppBar> *@
@code {
    public string Text { get; set; } = "????";
    public string ButtonText { get; set; } = "Click Me";
    public int ButtonClicked { get; set; }

    public string GoogleSvgIcon = """ <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"/><path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853"/><path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05"/><path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335"/><path d="M1 1h22v22H1z" fill="none"/><script xmlns=""/></svg>""";

    public int ImageSize = 100;

    void ButtonOnClick()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }
}

<style>
    .footer-sticky {
        position: sticky;
        bottom: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 8);
        height: calc(var(--mud-appbar-height) - var(--mud-appbar-height) / 8);
    }

    .avatar-badge {
        height: 40px;
    }
</style>